## Procesamiento de datos multivariados

> **María de los Angeles Arista Huerta - A01369984**

Entregable 1 - Portafolio de implementación / *NOVIEMBRE 2022*

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

> Importar librerias

In [2]:
# importar librerias
import numpy as np              #Algebra lieal
import pandas as pd             #Procesamiento de datos
import seaborn as sns           #Graficas/Visualizacion
import matplotlib.pyplot as plt #Graficas/Visualizacion

> Carga del dataset

In [9]:
firms = pd.read_csv("/content/usfirms2022.csv")
firms

,Ticker,Name,N,Class,Country\nof Origin,Type of Asset,Sector NAICS\nlevel 1,Exchange / Src,Sector\nEconomatica,Sector NAICS\nlast available,partind
0,FLWS,1 800 Flowers Com Inc,1,Com A,US,Stock,Retail Trade,NASDAQ,Trade,Retail Trade,-
1,TXG,"10x Genomics, Inc",2,Com A,US,Stock,Manufacturing,NASDAQ,Electric Electron,"Navigational, Measuring, Electromedical, and C...",-
2,GOED,1847 Goedeker Inc,3,Com,US,Stock,Retail Trade,AMEX,Trade,Furniture and Home Furnishings Stores,-
3,ONEM,"1life Healthcare, Inc",4,Com,US,Stock,Health Care and Social Assistance,NASDAQ,Other,Offices of Physicians,-
4,SRCE,1st Source Corp,5,Com,US,Stock,Finance and Insurance,NASDAQ,Finance and Insurance,Depository Credit Intermediation,-
...,...,...,...,...,...,...,...,...,...,...,...
3603,ZUO,"Zuora, Inc",3604,Com A,US,Stock,Information,NYSE,Software & Data,Software Publishers,-
3604,ZWS,Zurn Elkay Water Solutions Corp,3605,Com,US,Stock,Manufacturing,NYSE,Industrial Machin,Other General Purpose Machinery Manufacturing,-
3605,ZY,Zymergen Inc,3606,Com,US,Stock,"Professional, Scientific, and Technical Services",NASDAQ,Other,Scientific Research and Development Services,-
3606,ZYNE,"Zynerba Pharmaceuticals, Inc",3607,Com,US,Stock,Manufacturing,NASDAQ,Chemical,Pharmaceutical and Medicine Manufacturing,-
3607,ZNGA,Zynga Inc,3608,Com A,US,Stock,Information,NASDAQ,Software & Data,"Data Processing, Hosting, and Related Services",-

In [10]:
us = pd.read_csv("/content/us2022q2a.csv")
us

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto
0,A,2000q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.762,104.000,452000.000,NaN,2000.000,1.000
1,A,2000q2,2485000.000,1261000.000,1010000.000,0.000,42000.000,0.000,90000.000,7321000.000,2679000.000,512000.000,0.000,4642000.000,45.216,73.750,452271.967,6.000,2000.000,2.000
2,A,2000q3,2670000.000,1369000.000,1091000.000,0.000,28000.000,0.000,83000.000,7827000.000,2925000.000,528000.000,0.000,4902000.000,30.003,48.938,453014.579,9.000,2000.000,3.000
3,A,2000q4,3372000.000,1732000.000,1182000.000,0.000,10000.000,0.000,163000.000,8425000.000,3160000.000,830000.000,0.000,5265000.000,33.567,54.750,456366.381,12.000,2000.000,4.000
4,A,2001q1,2841000.000,1449000.000,1113000.000,0.000,-6000.000,0.000,119000.000,9208000.000,3667000.000,556000.000,0.000,5541000.000,18.840,30.730,456769.737,3.000,2001.000,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324442,ZYNE,2021q3,0.000,0.000,10210.652,0.000,-376.637,-5.038,0.000,89996.170,11309.171,207.635,411.237,78686.999,4.240,4.240,41251.537,9.000,2021.000,3.000
324443,ZYNE,2021q4,0.000,0.000,8836.436,0.000,16.938,-4.433,0.000,81171.507,10258.173,209.068,353.694,70913.334,2.880,2.880,41217.537,12.000,2021.000,4.000
324444,ZYNE,2022q1,0.000,0.000,8903.915,0.000,317.252,-96.044,0.000,74381.029,9214.059,210.512,295.754,65166.970,2.050,2.050,42447.037,3.000,2022.000,1.000
324445,ZYNE,2022q2,0.000,0.000,9168.770,0.000,-775.928,-91.691,0.000,67006.959,9765.086,211.965,237.414,57241.873,1.140,1.140,43595.959,6.000,2022.000,2.000
324446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Configuración de la visualización de datos a 3 decimales
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.3f}'.format

> Limpieza de datos

In [7]:
# Datos nulos en el csv
us.isna().sum() 
us.isnull().sum()

firm                      1
q                         1
revenue              165833
cogs                 166138
sgae                 166138
otheropexp           166136
extraincome          165834
finexp               165833
incometax            165833
totalassets          164639
totalliabilities     164639
shortdebt            194770
longdebt             164852
stockholderequity    164707
adjprice             165293
originalprice        165213
sharesoutstanding    166625
fiscalmonth          164633
year                      1
cto                       1
dtype: int64

In [12]:
US_Firms = firms.merge(us, left_on='Ticker', right_on='firm')

In [13]:
US_Firms = US_Firms.drop(["N", 
                          "Class", 
                          "Country\nof Origin", 
                          "Type of Asset", 
                          "Exchange / Src", 
                          "Sector\nEconomatica", 
                          "Sector NAICS\nlast available", 
                          "partind"], 
                         axis = 1)
US_Firms.head()

,Ticker,Name,Sector NAICS\nlevel 1,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto
0,FLWS,1 800 Flowers Com Inc,Retail Trade,FLWS,2000q1,85045.000,54143.000,52146.000,0.000,111.000,-1600.000,-268.000,248461.000,76657.000,4380.000,8869.000,171804.000,7.125,7.125,64097.913,9.000,2000.000,1.000
1,FLWS,1 800 Flowers Com Inc,Retail Trade,FLWS,2000q2,123288.000,75607.000,63201.000,0.000,27.000,-2164.000,-419.000,224641.000,65723.000,1839.000,9441.000,158918.000,5.125,5.125,64170.913,12.000,2000.000,2.000
2,FLWS,1 800 Flowers Com Inc,Retail Trade,FLWS,2000q3,72516.000,45091.000,51590.000,0.000,88.000,-1576.000,0.000,211449.000,75163.000,7654.000,10916.000,136286.000,4.984,4.984,64185.913,3.000,2000.000,3.000
3,FLWS,1 800 Flowers Com Inc,Retail Trade,FLWS,2000q4,134243.000,79099.000,67206.000,0.000,335.000,-1191.000,0.000,213983.000,88231.000,2157.000,10452.000,125752.000,4.125,4.125,64187.163,6.000,2000.000,4.000
4,FLWS,1 800 Flowers Com Inc,Retail Trade,FLWS,2001q1,103221.000,64020.000,48856.000,0.000,76.000,-1069.000,0.000,200400.000,83160.000,4777.000,12318.000,117240.000,8.000,8.000,64187.163,9.000,2001.000,1.000